:root {
  --primary-color: hsl(209, 61%, 16%);
  --accent-color: #49a6e9;
  --shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

body {
  background-image: url(./images/bg.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  letter-spacing: 3px;
  line-height: 1.25;
  color: var(--primary-color);
  overflow: hidden;
}

main {
  background-color: #fff;
  text-align: center;
  width: 90vh;
  max-width: 620px;
  padding: 50px 50px;
  border-radius: 5px;
  box-shadow: var(--shadow);
}

h1 {
  text-transform: capitalize;
  font-size: 3rem;
}

button {
  margin-top: 30px;
  padding: 10px 20px;
  font-size: 0.9rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  background-color: var(--accent-color);
  color: #fff;
  box-shadow: var(--shadow);
  border-radius: 10px;
  border: 2px solid var(--accent-color);
  transition: all 0.3s linear;
}

button:hover {
  background-color: #fff;
  color: var(--accent-color);
  cursor: pointer;
}

.modal-block {
  display: none;
}

@media (max-width: 768px) {
}
